<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconH</key>
		<integer>214</integer>
		<key>iconW</key>
		<integer>180</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>208</integer>
		<key>iconW</key>
		<integer>198</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>205</integer>
		<key>iconW</key>
		<integer>192</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>244</integer>
		<key>iconW</key>
		<integer>165</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>208</integer>
		<key>iconW</key>
		<integer>171</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>210</integer>
		<key>iconW</key>
		<integer>192</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>212</integer>
		<key>iconW</key>
		<integer>188</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>200</integer>
		<key>iconW</key>
		<integer>171</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>219</integer>
		<key>iconW</key>
		<integer>161</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>208</integer>
		<key>iconW</key>
		<integer>156</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>239</integer>
		<key>iconW</key>
		<integer>196</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>246</integer>
		<key>iconW</key>
		<integer>193</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>237</integer>
		<key>iconW</key>
		<integer>150</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>219</integer>
		<key>iconW</key>
		<integer>198</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>232</integer>
		<key>iconW</key>
		<integer>157</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>244</integer>
		<key>iconW</key>
		<integer>193</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>208</integer>
		<key>iconW</key>
		<integer>159</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>219</integer>
		<key>iconW</key>
		<integer>193</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>252</integer>
		<key>iconW</key>
		<integer>173</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>246</integer>
		<key>iconW</key>
		<integer>191</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>216</integer>
		<key>iconW</key>
		<integer>182</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>249</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>241</integer>
		<key>iconW</key>
		<integer>157</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>209</integer>
		<key>iconW</key>
		<integer>199</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>241</integer>
		<key>iconW</key>
		<integer>187</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>212</integer>
		<key>iconW</key>
		<integer>170</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>201</integer>
		<key>iconW</key>
		<integer>163</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>204</integer>
		<key>iconW</key>
		<integer>151</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>206</integer>
		<key>iconW</key>
		<integer>199</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>255</integer>
		<key>iconW</key>
		<integer>173</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>224</integer>
		<key>iconW</key>
		<integer>171</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>233</integer>
		<key>iconW</key>
		<integer>162</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>253</integer>
		<key>iconW</key>
		<integer>198</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>230</integer>
		<key>iconW</key>
		<integer>190</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>257</integer>
		<key>iconW</key>
		<integer>198</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>219</integer>
		<key>iconW</key>
		<integer>163</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>251</integer>
		<key>iconW</key>
		<integer>163</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>202</integer>
		<key>iconW</key>
		<integer>159</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>240</integer>
		<key>iconW</key>
		<integer>165</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>216</integer>
		<key>iconW</key>
		<integer>194</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>213</integer>
		<key>iconW</key>
		<integer>159</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>252</integer>
		<key>iconW</key>
		<integer>191</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>243</integer>
		<key>iconW</key>
		<integer>171</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>232</integer>
		<key>iconW</key>
		<integer>189</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>217</integer>
		<key>iconW</key>
		<integer>177</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>216</integer>
		<key>iconW</key>
		<integer>171</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>255</integer>
		<key>iconW</key>
		<integer>177</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>224</integer>
		<key>iconW</key>
		<integer>194</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>256</integer>
		<key>iconW</key>
		<integer>179</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>276</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>iconH</key>
		<integer>242</integer>
		<key>iconW</key>
		<integer>155</integer>
	</dict>
</array>
</plist>
